<app-navbar></app-navbar>

<div class="row row-cols-1 row-cols-md-3 g-4" style="margin-top: 10px;">
    <div (click)="verPlaneta()" class="col">
        <div class="card h-100">
            <img src="../../../assets/planetas.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"> Planetas </h5>
                <p class="card-text">
                    Crea, edita y elimina los planetas
                </p>
            </div>
        </div>
    </div>

    <div (click)="verEstrellas()" class="col">
        <div class="card h-100">
            <img src="../../../assets/estrellas.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"> Estrellas </h5>
                <p class="card-text">
                    Crea, edita y elimina los estrellas
                </p>
            </div>
        </div>
    </div>


    <div (click)="verRecursos()" class="col">
        <div class="card h-100">
            <img src="../../../assets/recursos.jpg" alt="...">
            <div class="card-body">
                <h5 class="card-title"> Recursos </h5>
                <p class="card-text">
                    Crea, edita y elimina los recursos
                </p>
            </div>
        </div>
    </div>

</div>



<div class="row row-cols-1 row-cols-md-3 g-4" style="margin-top: 10px;">
    <div (click)="verNaves()" class="col">
        <div class="card h-100">
            <img src="../../../assets/nave.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"> Naves </h5>
                <p class="card-text">
                    Crea, edita y elimina los naves
                </p>
            </div>
        </div>
    </div>

    <div (click)=" verUsuarios()" class="col">
        <div class="card h-100">
            <img src="../../../assets/usuario.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"> Usuarios </h5>
                <p class="card-text">
                    Crea, edita y elimina los usuarios
                </p>
            </div>
        </div>
    </div>


    <div (click)="verEquipos()" class="col">
        <div class="card h-100">
            <img src="../../../assets/equipo.jpg" alt="...">
            <div class="card-body">
                <h5 class="card-title"> Equipos </h5>
                <p class="card-text">
                    Crea, edita y elimina los equipos
                </p>
            </div>
        </div>
    </div>

</div>